<page xmlns="http://projectmallard.org/1.0/"
      type="topic" style="task"
      id="convertpdf">

  <info>
    <link type="guide" xref="index#tips"/>
    <desc>You can convert a document to PDF by "printing" it to a file.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

  </info>

<title>Converting a document to PDF</title>

<p>
You can convert documents of the following format types into PDF format:
</p>
<list>
 <item><p>Device Independent file format (.dvi)</p></item>
 <item><p>PostScript (.ps)</p></item>
</list>
<p>
This works by opening the file in Document Viewer and "printing" the document as a PDF file.
</p>
<steps>
    <item>
      <p>
      Click <guiseq><gui>File</gui><gui>Print</gui></guiseq> and go to the
      <gui>General</gui> tab.
      </p>
    </item>
    <item>
      <p>
      Select <gui>Print to File</gui> and choose PDF as the
      <gui>Output format</gui>.
      </p>
    </item>
    <item>
      <p>
      Choose a name and folder in which to save the file, then click <gui>Print</gui>.
      The PDF will be saved in the folder you chose.
      </p>
    </item>
</steps>
<note>
<p>
You can't select text in PostScript or .dvi files, but you usually can do
this in PDF files. Converting .dvi or PostScript files to PDF will not make
the text selectable. This is because the text itself isn't stored in the file
(it's just an image of what the text looks like), so there is no way to recover
it and put it in the PDF. You can use <em>Optical Character Recognition</em>
(OCR) software to extract the text from files if you need to.
</p>
</note>

</page>
